@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100dvh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
  border-style: none;
  outline-style: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1200px;
  width: min(100% - 25px, 1080px);
  margin-inline: auto;
  box-sizing: border-box;
}

/* ! ------------------------------------------------------------------------ */
/* !                                 CONTENT                                  */
/* ! ------------------------------------------------------------------------ */

body {
  height: 100dvh;
  color: #b1862f;
  background-color: #ffeaea;
  background-image: url("../media/img/wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

button {
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, #89ea16, #228c0c);
  border: 0.2rem solid #f0e9b5;
  color: #fdfefb;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: linear-gradient(180deg, #89ea16, #228c0c 50%);
  border: 0.2rem solid #f0e9b5;
  color: #fdfefb;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-top: 3rem;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 700;
  width: 8rem;
}

.fa-stopwatch,
.fa-percent,
.fa-star {
  font-size: 5rem;
  color: #1586f8;
}

.data-value {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  color: #1586f8;
}

.message-container {
  min-width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fff7d4 97%, #f0e9b5);
  color: #b1862f;
  font-weight: 600;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  padding: 1.8rem 2rem 3.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  animation: message 0.2s ease-in-out;
  z-index: 500;
}

.message-container h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #1586f8;
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
}

.message-container p {
  padding-bottom: 5rem;
}

.message-container button {
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}

@keyframes message {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.strong {
  font-weight: 700;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.reset-btn {
  font-size: 2rem;
  font-weight: 700;
  color: #fdfefb;
  background: linear-gradient(180deg, #89ea16, #228c0c);
  border: 0.2rem solid #f0e9b5;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  max-width: 50px;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.score-btn-small {
  font-size: 2rem;
  font-weight: 700;
  color: #fdfefb;
  background: linear-gradient(180deg, #89ea16, #228c0c);
  border: 0.2rem solid #f0e9b5;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  max-width: 50px;
  position: fixed;
  top: 8rem;
  right: 2rem;
  display: none;
}

.reset-btn:hover {
  background: linear-gradient(180deg, #89ea16, #228c0c 50%);
  border: 0.2rem solid #f0e9b5;
  color: #fdfefb;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

.word {
  font-size: 6rem;
  font-weight: 700;
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  color: #1586f8;
}

.input {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  color: #1586f8;
  border: 0.2rem solid #1586f8;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
  outline: none;
}

.game-over-container {
  z-index: 3000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(180deg, #fff7d4 97%, #f0e9b5);
  color: #b1862f;
  font-weight: 600;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  padding: 1.8rem 2rem 3.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  animation: message 0.2s ease-in-out;
  display: none;
}

.game-over-container h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #1586f8;
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
}

.game-over-container button {
  margin-top: 2rem;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.scores-container {
  z-index: 4000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(180deg, #fff7d4 97%, #f0e9b5);
  color: #b1862f;
  font-weight: 600;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  padding: 1.8rem 2rem 3.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  animation: message 0.2s ease-in-out;
  display: none;
  max-width: fit-content;
  width: inherit;
}

.scores-container h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #1586f8;
  font-family: "Lilita One", Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
}

.scores-container button {
  margin-top: 2rem;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}

.scores-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

.scores-list p {
  font-size: 2rem;
  color: #b1862f;
}

.scores-list p:last-of-type {
  padding-bottom: 5rem;
}
